.cookie-monster-banner {
  bottom: 0;
  color: #eee;
  background-image: url(../img/bg.png);
  left: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
}

.cookies-allow .cookie-monster-banner,
.cookies-restrict .cookie-monster-banner {
  display: none;
}

.cookie-monster-banner .inner {
  padding: 10px;
}


.cookie-monster-banner a {
  color: #3986CD;
  text-decoration: none;
}

.cookie-monster-banner a:hover {
  color: #5aa1e2;
  text-decoration: underline;
}

.cookie-monster-banner .info {
  float: left;
}

.cookie-monster-banner .hide {
  display: block;
  float: right;
}

.cookie-monster-banner .info .hide {
  display: inline;
  float: none;
}
